h1   {text-align: center;}
#content {margin-left: 25%;
          margin-right: 25%}
.ticketBtn {width: 300px;}
#submit {margin-top: 2%;
        margin-left: 30%;
        margin-right: 70%;}
input[type=text] {float: left;
                  width: 40%;}
